body {
  background-color: tan;
}

li {
  list-style-type: square;
  color: olivedrab;
}

a {
  color: darkgreen;
}

.goatDetails {
  border: 2px solid #9e1010;
  border-radius: 5px;
  padding: 20px;
  margin: 3px;
  font-size: 15px;
}